<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue proggress tracker</h1>
    </header>
    <section id="assignment">
      <h2>Vue Practice</h2>
      <span>Show alert by click</span>
      <br>
      <button v-on:click="showAlert">Show Alert</button>
      <hr />
      <hr>
      <span>Outputting data in the field below</span>
      <br>
      <input type="text" v-on:input="showName" />
      <p>{{ name }}</p>
      <hr />
      <hr>
      <span>Outputting data in the field below only after ENTER is clicked</span>
      <br>
      <input type="text" type="text" v-on:input="addInfo"  v-on:keyup.enter="confirmInfo" />
      <p>{{ finalOutputInfo }}</p>
      <hr>
      <hr>
      <span>Creating a ToDo list</span>
      <br>
      <label for="toDoList"></label>
      <input type="text" id="toDoList" v-model="toDoListItem">
      <br>
      <button v-on:click="addItem">Add an item</button>
      <p v-for="toDoItem in toDoList">{{ toDoItem }}</p>
      <hr>
      <hr>
      <span>Add a link</span>
      <br>
      <p>Learn more abot <a v-bind:href="vueLink">Vue</a></p>
    </section>
  </body>
</html>
